#ess_table, #ess_table td, #ess_table th {
    border: solid 1px #000;
}

#ess_table th {
    background-color: #000;
    color: #5cf0aa;
    padding: 1% 1%;
}

.ess_table_input {
    border: none;
}

.ess_control_leftcol {
    background-color: #EAEAEA;
    padding: 3% 10% 3% 3%;
    border-right: solid 1px #000;
    width: 38%;
}

.ess_control_rightcol {
    width: 60%;
}

.optimize_btn {
    background-color: #EAEAEA;
    border: solid 1px #000;
    padding: 1% 2%;
}

.optimize_btn:focus {
    background-color: #5cf0aa;
}